[submodule ".vendor/anthropic-skills"]
	path = .vendor/anthropic-skills
	url = https://github.com/anthropics/skills
[submodule ".vendor/mattpocock-skills"]
	path = .vendor/mattpocock-skills
	url = https://github.com/mattpocock/skills
